<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div layout:fragment="mainContent"></div>

	<script th:inline="javascript">
		var items = /*[[${fieldsToMapItems}]]*/ null;
		var formTags = document.getElementsByTagName("form");

		for(j=0; j<formTags.length; j++) {
			var nameAttribute = new Array();
			var typeAttribute = new Array();

			var inputTags = formTags[j].getElementsByTagName("input");
			for(i=0; i<inputTags.length; i++) {
				nameAttribute[i] = inputTags[i].getAttribute("name");
				typeAttribute[i] = inputTags[i].getAttribute("type");
			}

			var textareaTags = formTags[j].getElementsByTagName("textarea");
			for(k=0; k<textareaTags.length; k++) {
				nameAttribute[i+k] = textareaTags[k].getAttribute("name");
				typeAttribute[i+k] = "textarea";
			}

			for(key in items) {

				var appendFlg = true;

				for(l=0; l < nameAttribute.length; l++) {

					//チェックボックスはサーバ側では配列だが、HTML上は配列として記載しないので、
					//name属性とマッチングするkeyの値は最後の'['以降を除去する。
					var subkey;
					if(typeAttribute[l] === "checkbox") {
						subkey = key.substring(0, key.lastIndexOf('['));
					} else {
						subkey = key;
					}

					//対応するinputタグが存在するなら、hidden属性のinputタグは追加しない。
					if(nameAttribute[l] === subkey) {
						appendFlg = false;
					}
				}

				if(appendFlg === true) {
					var hiddenElem = document.createElement("input");
					hiddenElem.type = "hidden";
					hiddenElem.name= key;
					hiddenElem.value = items[key];
					formTags[j].appendChild(hiddenElem);
				}

			}
		}
	</script>

</body>
</html>
